body{
    background-color: rgb(255, 255, 255);
}

header nav{
    text-align: center;
    font-size: xx-large;
    background-color: rgba(246, 248, 100, 0.849);
    border-radius: 6px;
}

header a{
    background-color: rgba(233, 221, 52, 0.733);
    padding: 10px 20px;
    margin-top: 20px;
}

.Deportivas{
    margin-left: 200px;
    padding: 20px;
    
}
.Deportivas img{
    width: 300px;
    height: 300px;
    border-radius: 6px;
}
    
.Urbano{
    margin-left: 200px;
    padding: 20px;
}
.Urbano img{
    width: 300px;
    height: 300px;
    border-radius: 6px;
}

.Borcegos{
    position:absolute;
    margin-left: 800px;
    top:160px;
    padding: 20px;
}
.Borcegos img{
    width: 300px;
    height: 300px;
    border-radius: 6px;
}
.Sandalias{
    position: absolute;
    margin-left: 800px;
    top:570px;
    padding: 20px;
}
.Sandalias img{
    width: 300px;
    height: 300px;
    border-radius: 6px;
}

footer{
    background-color: rgb(227, 230, 102);
    text-align: center;
    border-radius: 4px;
}
footer img{
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 6px;
}